*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.numberContainer{

    background: linear-gradient(#242424,#181818);
    width: 80px;
    height: 80px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.3em;
    border: 1px solid #0e0e0e;
    font-size: 2em;
    font-family: 'Segoe UI';
    font-weight: 700;
    box-shadow: inset 0px 0px 8px -1px #131313;

    
}

.secondsContainer{
    background-color: #131313;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #1a1a1a;
    box-shadow: 0px 8px 10px -8px #0a0a0a;
}